.hide-word {
  filter: blur(10px); /* Adjust the blur radius as needed */

}
.ion-text-center {
    text-align: center;
}
IonButton {
   --ion-color: #ffffff;

  }
  IonModal > .modal-wrapper {
    height: 100vh;
    width: 100vw;
  }
