/* VerticalProgressBar.css */

/* Keep the existing styles for the vertical progress bar container */
.vertical-progress-bar-container {
  display: grid; /* Step 2: Enable grid layout */
  grid-template-columns: auto 1fr; /* Step 3: Divide into two columns */
  height: 250vh;
  justify-content: flex-end;
  padding: 20px;
}

/* Adjust the width of the progress bar column as needed */
.vertical-progress-bar {
  width: 3em; /* Set to your desired width */
  background-color: var(--ion-color-primary);
  border-radius: 5px;
  transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
}


.side-items {
}
  
  /* Keep the existing styles for the unfilled part */
  .vertical-progress-bar-unfilled {
    width: 3em;
    border-radius: 5px;
    background-color: var(--ion-color-primary);
    opacity: 0.5;
  }
  
  /* Add styles for the text box */
  .text-box {
    margin-top: 10px;
    margin: 5px; /* Adjust the margin as needed to position the text box */
  }
  
  /* Optional: Add some shadows for a 3D effect */
  .vertical-progress-bar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Optional: Add a hover effect for interaction */
